.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 5% auto;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8vw;
  color: #4ECCA3;
}

.btn{
  font-size: 1.5vw;
  font-weight: bold;
}

p {
  font-size: 2vw;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img{
  padding: 2%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.button-hover:hover {
  background-color: darkred;
  color: gold;
}
